div{
    border: 1px solid gray;
    inline-size: 25%;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;;
}

div>h1{
    text-align: center;
    color: aqua;
}

div > p{
    text-align: justify;
    font-size: 20px;
    color: aqua;
}

.c2{
    background: linear-gradient(45deg,red,green);
}
