h1,h2,h3,h4{
    color:red;
    background-color: aqua;
    text-align: center;
    padding: 10px;
    inline-size: 20%;
    display: inline-block;
    margin: 10px;
    border: 1px;
    border-radius: 0px 50px;
    box-shadow: 0px 0px 10px black;
}